:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --BRANCO: white;
    --preto: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11.5%;
    cursor: pointer;

}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;

}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

#banner {
    width: 100%;
    background-image: url("../imgs/BANNER.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

#txt-banner {
    position: absolute;
    top: 10%;
    right: 10%;
}

.conteudo h1 {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

}
.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);

}

.card-img img {
    border-radius: 8px 8px 0 0;
}

.card-content {
    color: var(--BRANCO);
    padding: 1rem;
    text-align: center;
}



header h1{
    color: var(--BRANCO);
}

 #titulo1{
    align-items: center;
    font-size:30px;
    padding-left: 20px;
    margin-top: 20px;
  
}
 #imagem{
    height: 310px;
    margin-left: 70%;
    border-radius: 100%;
  
    
}
.texto{
    font-size: 25px;
    padding-left: 1rem;
    text-align: justify;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    margin-right: 20%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 50%;
   
    

}
 #icones{
    display: flex;
    
    
    cursor: pointer;
    border-radius: 40px;
    height: 30px;
    margin-left: 80%;
    margin-top: 45px;
    margin-right: 29%;
    

   
    
    
    
   
  
}
   
 #mulherpens{
   margin-left:80px;
   height: 300px;
 
 }
.duv{
   
    font-size: 20px;
    color: var(--BRANCO);
    background-color:#FF0099;
    margin-bottom:45px;
    margin-top: 45px;
    width: 50%;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding: 30px;
    border-radius:45px;
    cursor: pointer;
  
    
   

}
.titulo1{
    margin-left: 30px;
    font-size: 35px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fconosco{color: var(--BRANCO);
    background-color: #FF0099;
    font-size: 20px;
    
    width: 50%;
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    height: 100px;
    border-radius: 45px;
    padding-left: 60px;
}
#junto{
    
    display: grid;
    

    
   

  
   
 
   }

#catalago{
    align-items: center;
    margin-left: 30%;
    
}

   #categorias{

    margin-top: 10px;
    font-size: 30px;
    color: var(--preto);
    background-color: var(--cor-primaria);
    width: 20%;
    height: 50px;
    border-radius: 10px;}

    
       
     #cardcat{
        width: 30px;
        margin-left: 30%;
      
        
        
       
       
        
       

    }
    .cat{
    list-style: none;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0px;
 }
   .input{
    
    margin-bottom: 0px;
  
    
  }

  #cadastro{
   
    margin-left:30%;
    margin-top: 10px;
   
 
  }
  .cadastrar{
    position:absolute;
    background-color: var(--cor-primaria);
    margin-top:40px ;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: olumn;
    padding-right:30%;
    padding-bottom: 40%;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 30%;
    border-radius: 10px;
  
    
    align-items: flex-start;
    font-size: 25px;
  
   
  }
  .form-cad{
   height: 100%;
   font-size: 40px;
   height: 40px;
   display: block;
   padding-left: 10px;
   align-content: center;
   align-items: center;
   display: inline;
   
   
   


  }
  h3, button{
    font-size: 25px;
    color:var(--BRANCO);
    background-color: var(--preto);
    border:none;
    align-items:start;
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    margin-left: 30%;
    padding-right: 15px;
   
  }
  #bot-cad{
    cursor: pointer;
    text-decoration:underline;
    margin: 10px;
   padding-left:25px;
    
   
    
   

   

  }
  .fim-cad{
 
 
  margin-top: 20px;
  margin-left: 90px;
  ;
 
  }
  

  .accordions{
    margin-left: 40px;
   
    width:750px;
    border: none;
    
   
   

}
.accordion-item input{
	display:none;
  
}
.accordion-item label{
    font-size: 22px;
    color: var(--BRANCO);
    display:flex;
    background-color: var(--cor-primaria);
    cursor:pointer;
    padding: 5px 3px;
    
    cursor:pointer;
	padding: 15px;
    border-radius: 45px;
    
}
.accordion-content{
    height: 0px;
    
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
   
   
 }
[id^=accordion]:checked ~ .accordion-content {
    height: 100px;
}

    
.duvida{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.duv-fim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.duv-fim button{
    margin-left: 0;
}
.btn-fale{
    background-color: var(--cor-primaria);
    color: var(--BRANCO);
    border-radius: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
   .details{
    padding: 30px;
    margin: 30px 20px;
    background-color: var(--cor-primaria);
    border-radius: 50px;
    width: 1000px;

 }
    
