:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31 --cor-tres:#FDACE0;
    --BRANCO: white;
    --preto: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{background-color: var(--cor-primaria);}