:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --BRANCO: white;
    --preto: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;

}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11.5%;
    cursor: pointer;

}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;

}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

#banner {
    width: 100%;
    background-image: url("../imgs/BANNER.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

#txt-banner {
    position: absolute;
    top: 10%;
    right: 10%;
}

.conteudo h1 {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

}

.card {
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-secundaria);

}

.card-img img {
    border-radius: 8px 8px 0 0;
}

.card-content {
    color: var(--BRANCO);
    padding: 1rem;
    text-align: center;
}


/*sobre a loja*/

header h1 {
    color: var(--BRANCO);
}

#titulo1 {
    align-items: center;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 20px;

}

#imagem {
    height: 310px;
    margin-left: 70%;
    border-radius: 100%;


}

.texto {
    font-size: 25px;
    padding-left: 1rem;
    text-align: justify;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    margin-right: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 50%;



}

#icones {
    display: flex;


    cursor: pointer;
    border-radius: 40px;
    height: 30px;
    margin-left: 80%;
    margin-top: 45px;
    margin-right: 29%;
}







/*Catálago*/
#catalago {
    align-items: center;
    margin-left: 30%;

}

#categorias {

    margin-top: 10px;
    font-size: 30px;
    color: var(--preto);
    background-color: var(--cor-primaria);
    width: 20%;
    height: 50px;
    border-radius: 10px;
}



#cardcat {
    width: 30px;
    margin-left: 30%;
}

.cat {
    list-style: none;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0px;
}

.input {
    margin-bottom: 0px;
}


/*Cadastro do cad*/
#cadas {
    background-color: var(--cor-primaria);





    height: 450px;
    width: 500px;
    border-radius: 20px;
    margin-top: 50px;
}

#h1-cadastro {}





.cadast {


    width: 50px;
    font-size: 25px;
}

#btn-cadastro {
    width: 70%;
    cursor: pointer;
    border-radius: 20px;
}

#cadastro-final {}



/*duvida*/



.titulo1 {
    margin-left: 30px;
    font-size: 35px;
    align-items: center;
    margin: 20px;
    padding: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-fale {
    background-color: var(--cor-primaria);
    color: var(--BRANCO);
    border-radius: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.details {
    padding: 30px;
    margin: 30px 20px;
    background-color: var(--cor-primaria);
    border-radius: 50px;
    width: 1000px;

}

#duvida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#duv-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}

/*login*/

#login {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-tres);
    align-items: center;
    height: 700px;
    width: 500px;
    margin-top: 60px;
    margin-left: 37%;
    border-radius: 40px;

}

.caixa-login {
    display: flex;
    flex-direction: column;
}

#login-fim {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 60px;





}

#btn-login {
    cursor: pointer;
    padding: 0;



}

#login1 {
    font-size: 50px;
    margin-left: 25%;
    margin-top: 30px;
}

.inputs-login {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;

}

.caixa-input {
    height: 40px;
    width: 280px;
    border: none;
}