<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header>
        <a href="../index.html">LudoFashion</a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="Cadastro.html" class="icon-link"><img src="./imgs/icon.png.png" alt="" width="40px"> Cadastre-se</a>
        <a href="dúvidas.html" class="icon-link"> <img src="./imgs/ajuda.png" alt="" width="40px"> Dúvidas</a>

    </header>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html a loja.html">Sobre a Loja</a>
    </nav>
   
    </h1>
    <section >
       <form id="cadas"action="">
        <h1 id="h1-cadastro">
            Cadastrar
        </h1>
        <div class="cadast">
            <label for="text">Nome:</label>
            <input type="text" name="name" id=""required placeholder="Nome">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""required placeholder="Email">
            <label for="number">CPF:</label>
            <input type="number" name="number" id=""required placeholder="CPF">
        </div>
        <div >
            <label for="text">Nome de Usuário:</label>
            <input type="text" name="name" id=""required placeholder="Nome de Usuário">
            <label for="number">Número de Telefone:</label>
            <input type="number" name="Número" id=""required placeholder="Número de Telefone">
            <label for="date">Data de Nascimento:</label>
            <input type="date" name="data" id=""required placeholder="Data de Nascimento">
        </div>
        <h2>
            <button id="btn-cadastro" type="submit">Cadastrar</button>
        </h2>

        <div id="cadastro-final">
            <a href="../views/login.html">Já tem uma conta cadastrada?</a>
            <p>
                Ou
            </p>
            <img src="../imgs/google.png" alt="" height="20px">
            <img src="../imgs/insta.png" alt="" height="20px">
        </div>
       </form>
    </section>
</body>