<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="../views/Cad.html" class="icon-link"><img src="./imgs/icon.png.png" alt="" width="40px"> Cadastre-se</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="./imgs/ajuda.png" alt="" width="40px"> Dúvidas</a>

    </header>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>


    </nav>
    <section>
        <h1 id="categorias-tit1"> <img src="../imgs/categoria.png" alt="" width="40px">Categorias</h1>
        <div class="Categorias">
            <span class="categorias-2">
                <a></a>Casual
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">
            </span>
            <span class="categorias-2">
                Social</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2">
                Maquiagem</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2">Esportivo</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2"> Bolsas</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2">Banho</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2">
                Lingeries</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span>
            <span class="categorias-2">
                Calcinhas</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">
            </span> 
            <span class="categorias-2">
                Moda Praia</a>
                <img src="../imgs/editar.png" alt="" width="40px">
                <img src="../imgs/lixeira.png" alt="" width="40px">

            </span> 

            <span class="adicionar">
              <img src="../imgs/mais.png" alt="" width="50px"><a href="">Adicionar Categoria</a>
            </span>
        
        </div>
    </section>
</body>