<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
   <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="../imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="../views/Cad.html" class="icon-link"><img src="./imgs/icon.png.png" alt="" width="40px">
            Cadastre-se</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="./imgs/ajuda.png" alt="" width="40px"> Dúvidas</a>

    </header>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>
    </nav>
    <section id="Categorias">

        <h2>
            Categorias
        </h2>
        <ul >
            <li id="lista-categorias" >
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>
                <input type="radio" name="Bolsa" id="">
                <label for="Bolsa">Bolsa</label>

            </li>
        </ul>
    </section>
</body>




















</body>