<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="Cadastro.html" class="icon-link"><img src="./imgs/icon.png.png" alt="" width="40px"> Cadastre-se</a>
        <a href="dúvidas.html" class="icon-link"> <img src="./imgs/ajuda.png" alt="" width="40px"> Dúvidas</a>

    </header>
    <nav>
        <a href="catálogo.html">Catálogo</a>
        <a href="sobre a loja.html">Sobre a Loja</a>
    </nav>
    <div id="catalago">
        <h1>
            Conheça nosso catálogo de produtos
        </h1>
        <p>

            Os mais variados produtos femininos, com os melhores preços do mercado
        </p>

    </div>
    
    <section >
        <p id="categorias">Categorias </p>
            

        <div class="cat">
            <li class="cat">Maquiagem</li>
            <input    class="input" type="radio" name="" id="">
            <li class="cat">Saias</li>
            <input   class="input" type="radio" name="" id="">
            <li class="cat">Vestidos</li>
            <input  class="input" type="radio">
            <li class="cat"> Roupas íntimas</li>
            <input class="input" type="radio" name="" id="">
        </div>
    
    </section>

        
   

       
    






    </nav>
    <main>
        <div id="cardcat">
            <div>
                <img src="../imgs/mulheres.png" alt="">
            </div>
            <div>
                <p>Bolsa</p><br>R$89,90
            </div>

        </div>
        <div id="cardcat">
            <div>
                <img src="../imgs/mulheres.png" alt="">
            </div>
            <div>
                <p>Bolsa</p><br>R$89,90
            </div>

        </div>
        <div id="cardcat">
            <div>
                <img src="../imgs/mulheres.png" alt="">
            </div>
            <div>
                <p>Bolsa</p><br>R$89,90
            </div>

        </div>
        <div id="cardcat">
            <div>
                <img src="../imgs/mulheres.png" alt="">
            </div>
            <div>
                <p>Bolsa</p><br>R$89,90
            </div>

        </div>
        

        
       

        
       

       
    </main>
</body>