<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dúvidas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../javascript.js" defer></script>

</head>

<body>
    <header>
        <button id="button"><img src="../imgs/test.png" alt="" width="30px" onclick="barra_lateral()" id="btn-lateral"></button>
        <h1>Ajuda</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="../imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="../views/Cad.html" class="icon-link"><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastre-se</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class="icon-link"> <img src="../imgs/wishlist.png" alt="" width="40px"> Favoritos</a>
        <a href="../views/Perfil.html" class="icon-link"> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
       

    </header>
    <nav class="versao-mobile" id="versao-mobile">
        <a href="../views/Cad.html" class=""><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastrar</a>
        <a href="../views/duvida.html" class=""> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class=""> <img src="../imgs/wishlist.png" alt="" width="40px">Favoritos</a>
        <a href="../views/Perfil.html" class=""> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
        <a href="../views/catálogo.html"><img src="../imgs/catalogue.png" alt="" width="40px"> Catálogo</a>
        <a href="../views/sobre a loja.html"><img src="../imgs/info.png" alt="" width="40px">Sobre a Loja</a>
    </nav>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>
    </nav>

  
    <main>
        <div>
            <h2 class="titulo1">Principais perguntas:</h2>
        </div>
        <section id="duvida">
            
            <div>
                <details class="details">
                    <summary>
                        Como faço para adicionar um produto à minha lista de desejos?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque necessitatibus hic delectus velit
                    doloribus! Expedita blanditiis distinctio dolorem ullam quaerat sit temporibus maxime animi natus
                    soluta? Magnam, quos ducimus! Eaque.
                </details>
    
                <details class="details">
                    <summary>
                        Como posso pesquisar produtos no site?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque necessitatibus hic delectus velit
                    doloribus! Expedita blanditiis distinctio dolorem ullam quaerat sit temporibus maxime animi natus
                    soluta? Magnam, quos ducimus! Eaque.
                </details>
                <details class="details">
                    <summary>
                        Existe uma opção de filtragem para encontrar produtos específicos, como por categoria, preço, marca, etc.?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque necessitatibus hic delectus velit
                    doloribus! Expedita blanditiis distinctio dolorem ullam quaerat sit temporibus maxime animi natus
                    soluta? Magnam, quos ducimus! Eaque.
                </details>
                <details class="details">
                    <summary>
                        Posso salvar produtos em uma lista de desejos para ver mais tarde?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque necessitatibus hic delectus velit
                    doloribus! Expedita blanditiis distinctio dolorem ullam quaerat sit temporibus maxime animi natus
                    soluta? Magnam, quos ducimus! Eaque.
                </details>
                <details class="details">
                    <summary>
                        Existe uma opção de chat ao vivo ou suporte online para obter ajuda adicional sobre um produto?
                    </summary>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque necessitatibus hic delectus velit
                    doloribus! Expedita blanditiis distinctio dolorem ullam quaerat sit temporibus maxime animi natus
                    soluta? Magnam, quos ducimus! Eaque.
                </details>
            </div>
            <div id="duv-final">
                <img src="../imgs/mulherpens.png" alt="">
                <p class="titulo1">Ainda com problemas?</p>
                <button class="btn-fale">Fale Conosco <img class="btn-fale"src="../imgs/fone.png" alt="" height="40px"></button>
            </div>
        </section>
    </main>