<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dúvidas</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header>
        <h1>Ajuda</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <h1>Ludofashion</h1>


    </header>
    <nav>
        <a href="catálogo.html">Catálogo</a>
        <a href="sobre a loja.html">Sobre a Loja</a>
    </nav>

    <h2 class="titulo1">Principais perguntas:</h2>

    <div>


        <h3 class="duv">Como faço para adicionar um produto à minha lista de desejos?</h3>

        <h3 class="duv">
            Como posso pesquisar produtos no site?
        </h3>
        <h3 class="duv">
            Existe uma opção de filtragem para encontrar produtos específicos, como por categoria, preço, marca, etc.?
        </h3>
        <h3 class="duv">
            Posso salvar produtos em uma lista de desejos para ver mais tarde?
        </h3>
        <h3 class="duv">
            Existe uma opção de chat ao vivo ou suporte online para obter ajuda adicional sobre um produto?
        </h3>
    </div>

    <div id="junto">
        <img id="mulherpens" src="../imgs/mulherpens.png" alt="" height="80px">

        <h2 class="titulo1">
            Ainda com problemas?
        </h2>
        <h4 id="fconosco">Fale conosco <img src="../imgs/fone.png" alt="" height="40px"></h4>
    </div>


</body>