<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejo</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../javascript.js" defer></script>

</head>

<body>
    <header>
        <button id="button"><img src="../imgs/test.png" alt="" width="30px" onclick="barra_lateral()"
                id="btn-lateral"></button>
        <h1>LudoFashion </h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="../imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="../views/Cad.html" class="icon-link"><img src="../imgs/cadastro.png.png" alt="" width="40px">
            Cadastre-se</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="../imgs/ajuda.png.png" alt="" width="40px">
            Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class="icon-link"> <img src="../imgs/wishlist.png" alt=""
                width="40px"> Favoritos</a>
        <a href="../views/Perfil.html" class="icon-link"> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>

    </header>
    <nav class="versao-mobile" id="versao-mobile">
        <a href="../views/Cad.html" class=""><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastrar</a>
        <a href="../views/duvida.html" class=""> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class=""> <img src="../imgs/wishlist.png" alt=""
                width="40px">Favoritos</a>
        <a href="../views/Perfil.html" class=""> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
        <a href="../views/catálogo.html"><img src="../imgs/catalogue.png" alt="" width="40px"> Catálogo</a>
        <a href="../views/sobre a loja.html"><img src="../imgs/info.png" alt="" width="40px">Sobre a Loja</a>
    </nav>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>
    </nav>
    <main class="grid">
        <aside class="conjunto">
            <a href="../views/Perfil.html" class="links"> <img src="../imgs/perfil.png" alt="" width="50px"
                    class="icones-perfil"> Minha Conta</a>
            <a href="../views/Minha lista de desejo.html" class="links"><img src="../imgs/desejos.png.png" alt=""
                    width="50px" class="icones-perfil">Lista de Desejo</a>
            <a href="../views/Categorias.html" class="links"> <img src="../imgs/categoria.png" alt="" width="50px"
                    class="icones-perfil">Categorias</a>
            <a href="../views/catálogo.html" class="links"> <img src="../imgs/produtos.png" alt="" width="50px"
                    class="icones-perfil">Produtos</a>
        </aside>
        <section>
            <div id="titulo-perfil">
                <h2> Minha Lista de desejo</h2>
                <p>Gerenciar sua lista de desejo</p>
            </div>
            <div class="lista_desejo">
                <div class="conj_desejo">
                    <div class="img_desejo">
                        <img src="../imgs/mulheres.png" alt="">
                    </div>
                    <div class="prod_desejo">
                       <p class="underline"><strong>Blusa Feminina Fitness Animal</p></strong>
                        <p>branco, preto e azul</p>
                    </div>
                    R$ 75,00
                </div>
                <div class="conj_desejo">
                    <div class="img_desejo">
                        <img src="../imgs/mulheres.png" alt="">
                    </div>
                    <div class="prod_desejo">
                        <p class="underline"><strong>Blusa Cropped Feminina Manga</p></strong>
                        <p>rosa, preto e azul</p>
                    </div>
                    R$ 95,00
                </div>
                <div class="conj_desejo">
                    <div class="img_desejo">
                        <img src="../imgs/mulheres.png" alt="">
                    </div>
                    <div class="prod_desejo">
                        <p class="underline"><strong>Calça Pantalona Bolsos</p></strong>
                        <p>vermelho, preto e azul</p>
                    </div>
                    R$ 150,00
                </div>
                <div class="conj_desejo">
                    <div class="img_desejo">
                        <img src="../imgs/mulheres.png" alt="">
                    </div>
                    <div class="prod_desejo">
                        <p class="underline"><strong>Blusa Feminina Fitness Animal</p></strong>
                        <p>branco, preto e azul</p>
                    </div>
                    R$ 75,00
                </div>
            </div>
        </section>

    </main>
    
</body>


</html>