<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../javascript.js" defer></script>

</head>

<body>
    <header>
        <button id="button"><img src="../imgs/test.png" alt="" width="30px" onclick="barra_lateral()" id="btn-lateral"></button>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="../imgs/buscar.png" alt="" width="30px"></button>
        </form>
       
        <a href="../views/Cad.html" class="icon-link"><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastre-se</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class="icon-link"> <img src="../imgs/wishlist.png" alt="" width="40px"> Favoritos</a>
        <a href="../views/Perfil.html" class="icon-link"> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
       

    </header>
    <nav class="versao-mobile" id="versao-mobile">
        <a href="../views/Cad.html" class=""><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastrar</a>
        <a href="../views/duvida.html" class=""> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class=""> <img src="../imgs/wishlist.png" alt="" width="40px">Favoritos</a>
        <a href="../views/Perfil.html" class=""> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
        <a href="../views/catálogo.html"><img src="../imgs/catalogue.png" alt="" width="40px"> Catálogo</a>
        <a href="../views/sobre a loja.html"><img src="../imgs/info.png" alt="" width="40px">Sobre a Loja</a>
    </nav>
    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>


    </nav>



    <main class="grid">
        <aside class="conjunto">
            <a href="../views/Perfil.html"  class="links"><img src="../imgs/perfil.png" alt="" width="50px" class="icones-perfil">Meu Perfil</a>
            <a href="../views/Minha lista de desejo.html" class="links"> <img src="../imgs/desejos.png.png" alt="" width="50px"class="icones-perfil"> Lista de Desejo</a>
            <a href="../views/Categorias.html" class="links"> <img src="../imgs/categoria.png" alt="" width="50px"class="icones-perfil"> Categorias</a>
            <a href="../views/catálogo.html" class="links"> <img src="../imgs/produtos.png" alt=""width="50px" class="icones-perfil">Produtos</a>
        </aside>

        <section class="secao">
            <div id="titulo-perfil">
                <h2> Meu Perfil</h2>
                <p>Gerenciar e proteger sua conta</p>
            </div>
            <div class="editar-perfil">
                <form action="">
                    <div class="alinhar_horizontal" >
                        <label for="text">Nome de Usuário</label>
                        <input class="inputs-perfil" type="text" name="text" id="text">
                    </div>
                    <div class="alinhar_horizontal" >
                        <label for="name">Nome:</label>
                        <input class="inputs-perfil" type="text" name="text" id="text">
                    </div>
                        <!-- 
                        <label for="email">Email:</label>
                        <label for="tel">Número de Telefone</label>
                        <label for="Sexo"> Sexo:</label>
                        <label for="feminino">Feminino</label>
                        <label for="outros">Outros</label>
                        <label for="number">CPF</label>
                        <label for="date">Data de Nascimento</label> -->
                    
                    <!-- <div class="">
                       
                        <input class="inputs-perfil" type="text" name="text" id="name" required>
                        <input class="inputs-perfil" type="email" name="email" id="email" required>
                        <input class="inputs-perfil" type="tel" name="tel" id="tel" required>
                        <input type="radio" name="sexo" id="feminino">
                        <input type="radio" name="sexo" id="masculino">
                        <input type="radio" name="sexo" id="outros">
                        <input class="inputs-perfil" type="number" name="number" id="number" required>
                        <input class="inputs-perfil" type="date" name="date" id="date">
                        <input id="salvar" type="submit" value="Salvar">





                    </div> -->

                </form>

            </div>
        </section>
    </main>





</body>

</html>