<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header>
        <h1>LudoFashion</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <a href="Cadastro.html" class="icon-link"><img src="../imgs/desejo.png" alt="" width="40px">Lista de Desejo</a>
        <a href="dúvidas.html" class="icon-link"> <img src="../imgs/ajuda.png" alt="" width="40px"> Dúvidas</a>

    </header>
    <nav>
        <a href="./views/catálogo.html">Catálogo</a>
        <a href="./views/sobre a loja.html a loja.html">Sobre a Loja</a>


    </nav>

    <div id="conjunto">
        <aside>

            <img src="../imgs/perfil.png" alt="" width="50px" class="icones-perfil">
            <img src="../imgs/desejos.png.png" alt="" width="50px" class="icones-perfil">
            <img src="../imgs/categoria.png" alt="" width="50px" class="icones-perfil">
            <img src="../imgs/produtos.png" alt="" width="50px" class="icones-perfil">


            <a href="../views/Perfil.html" class="links"> Meu Perfil</a>
            <a href="../views/" class="links"> Lista de desejos</a>
            <a href="../views/Categorias.html" class="links">Categorias</a>
            <a href="" class="links">Produtos</a>
        </aside>

        <!-- 
     <div id="primeiro-p">
        <p>
            <strong>Meu Perfil</strong>
        </p>
        <p>Gerenciar e proteger sua conta</p>
    </div>

    <section> -->
        <!-- 
        <main>
            <form id="perfil" action="">
                <label for="text">Nome de Usuário</label>
                <input type="text" name="text" required>

                <label for="text">Nome:</label>
                <input type="text" name="text" required>
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <label for="number">Nome de Usuário</label>
                <input type="number" name="number" required>

                <label for="text"> Sexo</label>
                <input type="radio" name="text">
                <label for="feminino">Feminino</label>
                <input type="radio" name="text" id="">
                <label for="masculino">Masculino</label>
                <input type="radio" name="text" id="">
                <label for="Outros">Outros</label>

                <label for="number">CPF</label>
                <input type="number" name="number">
                <label for="date">Data de Nascimento</label>
                <input type="date" name="date" id="">

                <input type="submit">
            </form>

        </main>
    </section>  -->

</body>