<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../css/styles.css">


<body>

    <header>
        <h1>Sobre nós:</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="./imgs/buscar.png" alt="" width="30px"></button>
        </form>
        <h1>LudoFashion</h1>
    </header>
    <nav>
        <a href="catálogo.html">Catálogo</a>
        <a href="sobre a loja.html">Sobre a Loja</a>
    </nav>
    <main id="titulo1">
        <h2> Quem somos ?</h2>
    </main>








    <div class="texto">
        <h5>
            LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes da moda.
            Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma seleção
            cuidadosamente curada de produtos que combinam elegância, estilo e qualidade. Desde os mais recentes
            lançamentos em produtos de beleza até as últimas tendências em moda feminina, cada item da
            LudoFashion é
            escolhido para inspirar confiança e beleza em suas clientes. Com um compromisso inabalável com a
            qualidade e o serviço ao cliente, a LudoFashion se destaca como um destino confiável para mulheres
            que
            buscam expressar sua individualidade através do estilo.
        </h5>
    </div>
    <div>
        <img id="imagem" src="../imgs/mulheres.png" alt="">
    </div>


    <div class="texto">
        <h5>
            <b>Visão</b>: Ser a principal boutique online para mulheres modernas e conscientes da moda, oferecendo uma
            experiência única e inspiradora.
        </h5>
        <h5>
            <b> Missão</b>: Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas femininas que inspirem
            confiança e expressão individual, com excelência em qualidade e serviço ao cliente.
        </h5>
        <h5>
            Valores: Excelência, Integridade, Empoderamento.
        </h5>
    </div>


    <div id="icones">
        <img  src="../imgs/twitter.png" alt="twitter">
        <img  src="../imgs/insta.png" alt="instagram">
        <img  src="../imgs/whtss.png" alt="whatssap">
    </div>






</body>




</html>