<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../javascript.js" defer></script>

<body>

    <header>
        <button id="button"><img src="../imgs/test.png" alt="" width="30px" onclick="barra_lateral()" id="btn-lateral"></button>
        <h1>Sobre nós:</h1>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar..."></input>
            <button type="submit" id="btn-buscar"><img src="../imgs/buscar.png" alt="" width="30px"></button>
        </form>

        <a href="../views/Cad.html" class="icon-link"><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastrar</a>
        <a href="../views/duvida.html" class="icon-link"> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class="icon-link"> <img src="../imgs/wishlist.png" alt=""width="40px"> Favoritos</a>
        <a href="../views/Perfil.html" class="icon-link"> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
    </header>


    <nav class="versao-mobile" id="versao-mobile">
        <a href="../views/Cad.html" class=""><img src="../imgs/cadastro.png.png" alt="" width="40px"> Cadastrar</a>
        <a href="../views/duvida.html" class=""> <img src="../imgs/ajuda.png.png" alt="" width="40px"> Dúvidas</a>
        <a href="../views/Minha lista de desejo.html" class=""> <img src="../imgs/wishlist.png" alt="" width="40px">Favoritos</a>
        <a href="../views/Perfil.html" class=""> <img src="../imgs/perfil.png" alt="" width="40px"> Perfil</a>
        <a href="../views/catálogo.html"><img src="../imgs/catalogue.png" alt="" width="40px"> Catálogo</a>
        <a href="../views/sobre a loja.html"><img src="../imgs/info.png" alt="" width="40px">Sobre a Loja</a>
    </nav>





    <nav>
        <a href="../views/catálogo.html">Catálogo</a>
        <a href="../views/sobre a loja.html">Sobre a Loja</a>

    </nav>
   
    <main>
        <section id="section-sobre">

            <div class="texto">

                <h2 id="titulo1"> Quem somos ?</h2>

                <p>
                    LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes da moda.
                    Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma seleção
                    cuidadosamente curada de produtos que combinam elegância, estilo e qualidade. Desde os mais recentes
                    lançamentos em produtos de beleza até as últimas tendências em moda feminina, cada item da
                    LudoFashion é
                    escolhido para inspirar confiança e beleza em suas clientes. Com um compromisso inabalável com a
                    qualidade e o serviço ao cliente, a LudoFashion se destaca como um destino confiável para mulheres
                    que
                    buscam expressar sua individualidade através do estilo.
                </p>
                <p>
                    <b>Visão</b>: Ser a principal boutique online para mulheres modernas e conscientes da moda,
                    oferecendo uma
                    experiência única e inspiradora.
                </p>
                <p>
                    <b> Missão</b>: Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas femininas que
                    inspirem
                    confiança e expressão individual, com excelência em qualidade e serviço ao cliente.
                <p>
                <p>
                    <b> Valores</b>: Excelência, Integridade, Empoderamento.
                </p>

            </div>
            <div id="div-imagem">
                <img id="imagem" src="../imgs/sobre.png" alt="">
                <div id="icones">
                    <img src="../imgs/twitter.png" alt="twitter">
                    <img src="../imgs/instagram.png" alt="instagram">
                    <img src="../imgs/whtss.png" alt="whatssap">
                </div>

            </div>
        </section>
    </main>
</body>



</html>